@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<head>
    <title>Projects</title>
    <link href="~/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/style.css" rel="stylesheet" type="text/css" />
    <script src="~/js/modernizr.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <style>
        body {
            font-size: 16px;
        }

        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        .section {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .table-border {
            border: 1px solid #ddd;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            background-color: transparent;
            border-collapse: collapse;
            display: table;
            box-sizing: border-box;
        }

        thead {
            color: #0083a5;
            background-color: #D8EAF6;
        }

        th {
            cursor: pointer;
        }

        .justify-center {
            justify-content: center;
        }

        .d-flex {
            display: flex;
        }

        .label {
            font-size: 14px;
            padding: 0;
            font-weight: normal;
            color: #1E1E1E;
        }

        /* [data-toggle="tooltip"] {
            cursor: pointer;
        }*/

        .pull-right {
            float: right !important;
        }

        .select2 {
            border: 1px solid #ddd;
            background: #F5F5D5;
            margin: 0px 23px 3px 0px;
            padding: 5px 22px 5px 5px;
            border-radius: 10px;
            float: none;
            vertical-align: top;
            word-break: break-all;
        }

        .select2-choice {
            display: inline-block;
            margin-right: 50px;
        }

        .contract-line {
            vertical-align: middle;
            color: #999;
        }

        .select2-choice2 {
            display: inline-block;
            margin-left: 10px;
            margin-right: 50px;
        }

        /*  ToolTip CSS  */
        .tool {
            cursor: help;
            position: relative;
        }

            .tool::before,
            .tool::after {
                left: 50%;
                opacity: 0;
                position: absolute;
                z-index: -100;
            }

            .tool:hover::before,
            .tool:focus::before,
            .tool:hover::after,
            .tool:focus::after {
                opacity: 1;
                transform: scale(1) translateY(0);
                z-index: 100;
            }

            .tool::before {
                border-style: solid;
                border-width: 1em 0.75em 0 0.75em;
                border-color: #3E474F transparent transparent transparent;
                bottom: 100%;
                content: "";
                margin-left: -0.5em;
                transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
                transform: scale(.6) translateY(-90%);
            }

            .tool:hover::before,
            .tool:focus::before {
                transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
            }


            .tool::after {
                background: #46899a;
                border-radius: .25em;
                bottom: 180%;
                color: #EDEFF0;
                content: attr(data-tip);
                margin-left: -4.75em;
                /*padding-left: 1em;*/
                transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
                transform: scale(.6) translateY(50%);
                width: 9.5em;
                height: 25px;
            }

            .tool:hover::after,
            .tool:focus::after {
                transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
            }

        @@media (max-width: 760px) {
            .tool::after {
                font-size: .75em;
                margin-left: -5em;
                width: 10em;
            }
        }

        /*  Tool Tip End  */


        .tool1 {
            cursor: help;
            position: relative;
        }

            .tool1::before,
            .tool1::after {
                left: 50%;
                opacity: 0;
                position: absolute;
                z-index: -100;
            }

            .tool1hover::before,
            .tool1:focus::before,
            .tool1:hover::after,
            .tool1:focus::after {
                opacity: 1;
                transform: scale(1) translateY(0);
                z-index: 100;
            }

            .tool1::before {
                border-style: solid;
                border-width: 1em 0.75em 0 0.75em;
                border-color: #3E474F transparent transparent transparent;
                bottom: 120%;
                content: "";
                margin-left: -0.5em;
                transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
                transform: scale(.6) translateY(-90%);
            }

            .tool1:hover::before,
            .tool1:focus::before {
                transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
            }


            .tool1::after {
                background: black;
                border-radius: .25em;
                bottom: 100%;
                color: #EDEFF0;
                content: attr(data-tip);
                margin-left: -4.75em;
                padding-left: 1em;
                transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
                transform: scale(.6) translateY(50%);
                width: 10.5em;
                height: 25px;
            }

            .tool1:hover::after,
            .tool1:focus::after {
                transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
            }

        @@media (max-width: 760px) {
            .tool1::after {
                font-size: .75em;
                margin-left: -5em;
                width: 10em;
            }
        }

        .arrow-up {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid gray;
            display: inline-block;
            float: right;
            margin-top: 5px;
        }

        .arrow-down {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid gray;
            display: inline-block;
            float: right;
            margin-top: 5px;
        }

        .search:focus {
            border: 3px solid #99c2ff;
            border-radius: 3px;
        }
    </style>
</head>
<body style="background-color: #F6F6F6;">
    <br />
    <div ng-controller="ProjectController" ng-init="GetProjectList()" class="divList">
        @*@Session["CName"]
            @Session["Cid"]*@
        @*LIST*@
        <div class="container section" ng-show="isshowtable == true">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-2"><h1>Projects</h1></div>
                        <div class="col pl-5 pt-4"><a href="@Url.Action("ArchieveList","Project")" style="font-size:16px;color:cadetblue"><u>Go To Archieve</u></a></div>

                    </div>
                </div>


                <div class="form-group col-3 text-right">
                    <button type="submit" style="background-color:#7FBA00;color:#FFFFFF;height:40px;font-size:18px;margin-top:10px;" class="form-control btn w-lg " id="btnAdd" ng-click="AddNew()">
                        <i class="fa fa-plus-circle"></i>
                        &nbsp; Add New Project
                    </button>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" placeholder="Search" class="search form-control" ng-model="search" style="border:none;" />
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-border">
                <thead>
                    <tr>
                        <th class="w-25" ng-click="sortData('ProjectName')">
                            <b>Project Name</b> <div ng-class="getSortClass('ProjectName')"></div>
                        </th>
                        <th class="w-50">
                            <b>Contracts </b>
                        </th>
                        <th ng-click="sortData('StartDate')">
                            <b>Project Notes </b><div ng-class="getSortClass('StartDate')"></div>
                        </th>
                        <th class="text-center">
                            <b>Actions</b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="proj in projects | filter:search | orderBy:sortColumn:reverseSort | itemsPerPage:3" ng-model="search">
                        <td>
                            {{proj.ProjectName}}
                        </td>
                        <td>
                            @*<a href="#" class="label pull-right">
                            <small> <i class="fa fa-plus-circle" style="font-size:20px;margin-top:5px;"></i></small>
                        </a>*@
                            <div class="select2" ng-repeat="a in proj.assign">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="select2-choice">{{a.UserName}}</div>
                                    </div>
                                    <span class="contract-line">
                                        <small>|</small>
                                    </span>
                                    <div class="col-3" style="text-align:center;">
                                        &nbsp;&nbsp;&nbsp;&nbsp;<div class="select2-choice2 tool" data-tip="Weekly limit">{{a.WeeklyLimit}}</div>
                                    </div>
                                    <span class="contract-line">
                                        <small>|</small>
                                    </span>
                                    <div class="col-3" style="text-align:center;">
                                        &nbsp;&nbsp;&nbsp;&nbsp;<div class="select2-choice2 tool" data-tip="Rate">{{a.Rate}}</div>
                                    </div>
                                </div>


                            </div>
                        </td>
                        <td>
                            <div class="tool1" data-tip="StartDate - Deadline">
                                <i class="fa fa-calendar" style="color:cadetblue;font-size:20px;"></i>
                                {{proj.StartDate | date:'mediumDate'}}&nbsp; - &nbsp;
                                {{proj.DeadLine | date:'mediumDate'}}
                            </div>
                            <div class="tool1" data-tip="Estimation Hour">
                                <i class="fa fa-clock-o" style="color:cadetblue;font-size:20px;"></i>
                                &nbsp;{{proj.EstimationHour}}
                            </div>
                            <div class="tool1" data-tip="Notes">
                                <i class="ti-notepad" style="color:cadetblue;font-size:20px;"></i>
                                {{proj.Remark}}
                            </div>
                        </td>
                        <td class="d-flex justify-center">
                            <a class="edit block-all td-actions-inner" style="display: inline-block;cursor:pointer" ng-click="Edit(proj)" ><i class="fa fa-edit" style="color:forestgreen;font-size:20px;"></i></a>
                            &nbsp;&nbsp;<a class="delete block-all td-actions-inner" style="display: inline-block;cursor:pointer" ng-click="Delete(proj.ProjectId)" name="delete" data-original-title="Delete"><i class="fa fa-close block-all" style="color:red;font-size:20px;"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination pagination-split">
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true" style="padding:15px;">
                    </dir-pagination-controls>
                </ul>
            </nav>
        </div>
        @*ADD*@
        <div class="container" ng-show="isshowadd == true">
            <div class="row">
                <div class="col-md-3"><h2>Add New Project</h2></div>
                <div class="col-md-7"></div>
                <div class="col-md-2">
                    <button type="button" style="margin-top:10px;" class="btn btn-primary btn-custom waves-effect waves-light" ng-click="InsertDiv()"><i class="ion-android-arrow-back" style="padding-left: 10px !important;"></i>&nbsp;&nbsp;Project List</button>
                </div>
            </div>

            <br />
            <div class="card-box">
                <form novalidate name="f1">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Project Name</label>
                                <input type="text" style="background-color:#F6F6F6;font-size:16px;" ng-model="Project.ProjectName" class="form-control" name="projectname" required />
                                <span class="text-danger" ng-show="(f1.projectname.$touched || f1.projectname.$dirty)">
                                    <span ng-show="f1.projectname.$error.required">Project Name is required</span>
                                </span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Additional information</label>
                                <div class="card-box" style="background-color:#F6F6F6;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="icon icon-sm icon-calender form-group icon-left-space"></i>
                                            <label class="control-label">StartDate</label>
                                            <div>
                                                <div class="input-group">
                                                    <input type="text" ng-model="Project.StartDate" class="form-control" id="datepicker-autoclose" name="start" required>
                                                    <span class="text-danger" ng-show="(f1.start.$touched || f1.start.$dirty)">
                                                        <span ng-show="f1.start.$error.required">StartDate is required</span>
                                                    </span>
                                                </div> @*input-group*@
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="icon icon-sm icon-calender form-group icon-left-space"></i>
                                            <label class="control-label">DeadLine</label>
                                            <div>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="Project.DeadLine" id="datepicker" name="deadline" required>
                                                    <span class="text-danger" ng-show="(f1.deadline.$touched || f1.deadline.$dirty)">
                                                        <span ng-show="f1.deadline.$error.required">DeadLine is required</span>
                                                    </span>
                                                </div> @*input-group*@
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <i class="icon icon-sm icon-clock form-group icon-left-space"></i>
                                            <label class="control-label">Estimation</label>
                                            <div class="row">
                                                <div class="col-1"></div>
                                                <input type="text" ng-model="Project.EstimationHour" class="form-control w-50" name="hour" required />
                                                &nbsp; hours
                                                <span class="text-danger" ng-show="(f1.hour.$touched || f1.hour.$dirty)">
                                                    <span ng-show="f1.hour.$error.required">EstimationHour is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Project Notes</label>
                                <textarea id="textarea" style="background-color:#F6F6F6" class="form-control" maxlength="225" rows="2" ng-model="Project.Remark" name="notes" required ng-maxlength="350" ng-minlength="5"></textarea>
                                <span class="text-danger" ng-show="f1.notes.$error.required && f1.notes.$touched">
                                    Project Note is required
                                </span>
                                <span class="text-danger" ng-show="f1.notes.$dirty && (f1.notes.$error.minlength || f1.notes.$error.maxlength)">
                                    Notes must be in range 5 to 350
                                </span>
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="row">
                                <div class="col-1"></div>
                                <h4><b>&nbsp; Contracts</b></h4>
                                <div class="col-7"></div>
                                <h4><a href=""><i class="fa fa-trash" ng-click="DeleteAll()" style="color:red;"></i></a></h4>
                            </div>

                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">
                                    <table class="table">
                                        <tr class="table-primary">
                                            <th width="150">Assign to</th>
                                            <th>Weekly limit</th>
                                            <th>Rate($)</th>
                                            <th></th>
                                        </tr>
                                        <tr ng-repeat="items in Project.assign">
                                            <td style="width:200px">
                                                <select ng-model="items.UserId" name="Project.UserId" class="form-control " required ng-options="tObj.UserId as tObj.FirstName + ' ' + tObj.LastName for tObj in teams">
                                                    <option value="">Select User</option>
                                                </select>
                                                <span class="text-danger" ng-show="(f1.Project.UserId.$touched || f1.Project.UserId.$dirty)">
                                                    <span ng-show="f1.Project.UserId.$error.required">User is required</span>
                                                </span>

                                            </td>
                                            <td>
                                                <div class="form-group w-50">
                                                    <input type="text" class="form-control" placeholder="50" ng-model="items.WeeklyLimit" name="Project.WeeklyLimit" required />
                                                    <span class="text-danger" ng-show="(f1.Project.WeeklyLimit.$touched || f1.Project.WeeklyLimit.$dirty)">
                                                        <span ng-show="f1.Project.WeeklyLimit.$error.required">WeeklyLimit is required</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group w-50">
                                                    <input type="text" class="form-control" placeholder="0" ng-model="items.Rate" name="Project.Rate" required />
                                                    <span class="text-danger" ng-show="(f1.Project.Rate.$touched || f1.Project.Rate.$dirty)">
                                                        <span ng-show="f1.Project.Rate.$error.required">Rate is required</span>
                                                    </span>
                                                </div>

                                            </td>
                                            <td>
                                                <a name="delete" style="cursor:pointer;" ng-click="DeleteOne($index)"><i class=" fa fa-remove fa-lg" style="color:red"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-4"></div>
                                            <div class="col-4">
                                                <input type="button" class="form-control btn-custom btn-inverse " value="Assign to all users" data-toggle="modal" data-target="#assignUser" />
                                            </div>
                                            <div class="col-4">
                                                <button type="submit" class="form-control btn-inverse" ng-click="AddOne()">
                                                    <i class="fa fa-plus-circle"></i>
                                                    Add new User
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="assignUser" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">

                                            @*Modal content*@

                                            <div class="modal-content">
                                                <div class="modal-header">

                                                    <h4 class="modal-title">ADD CONTRACTS</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                <div class="modal-body">
                                                    <label class="control-label">Weekly Limit</label>
                                                    <div>
                                                        <div class="input-group">
                                                            <input type="text" ng-model="txtWeeklyLimit" name="Project.WeeklyLimit" class="form-control w-75">
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <label class="control-label">Rate($)</label>
                                                    <div>
                                                        <div class="input-group">
                                                            <input type="text" ng-model="txtRate" name="Project.Rate" class="form-control w-75">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-default btn-block" data-ng-click="AssignAll()" data-dismiss="modal">ADD</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                                <div style="height:110px;width:100%;"></div>
                                <div style="width:67%;"></div>
                                <div class="form-group">
                                    <input type="button" class="form-control btn btn-success w-lg float-right " id="save" value="Save" ng-disabled="f1.$invalid" ng-click="Create(Project)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @*EDIT*@
    <div class="container" ng-show="isshowedit == true">
        <div class="row">
            <div class="col-md-3"><h2>Edit New Project</h2></div>
            <div class="col-md-7"></div>
            <div class="col-md-2">
                <button type="button" style="margin-top:10px;" class="btn btn-primary btn-custom waves-effect waves-light" ng-click="InsertDiv()"><i class="ion-android-arrow-back" style="padding-left: 10px !important;"></i>&nbsp;&nbsp;Project List</button>
            </div>
        </div>
        <form novalidate name="f2">
            <div class="card-box">

                <div class="row ml-5 mr-5">
                    <div class="col-md-6">
                        <div class="p-20">
                            <div class="form-group">
                                <label class="control-label">Project Name</label>
                                <input type="text" ng-model="Project.ProjectName" style="background-color:#F6F6F6;font-size:16px;" name="projectname" class="form-control" required />
                                <span class="text-danger" ng-show="(f2.projectname.$touched || f2.projectname.$dirty)">
                                    <span ng-show="f2.projectname.$error.required">Project Name is required</span>
                                </span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Additional information</label>
                                <div class="card-box" style="background-color:#F6F6F6;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="icon icon-sm icon-calender form-group icon-left-space"></i>
                                            <label class="control-label">StartDate</label>
                                            <div>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="Project.StartDate" id="datepicker-autoclose" name="start" required>
                                                    <span class="text-danger" ng-show="(f2.start.$touched || f2.start.$dirty)">
                                                        <span ng-show="f2.start.$error.required">StartDate is required</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="icon icon-sm icon-calender form-group icon-left-space"></i>
                                            <label class="control-label">DeadLine</label>
                                            <div>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="Project.DeadLine" id="datepicker" name="deadline" required>
                                                    <span class="text-danger" ng-show="(f2.deadline.$touched || f2.deadline.$dirty)">
                                                        <span ng-show="f2.deadline.$error.required">DeadLine is required</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <i class="icon icon-sm icon-clock form-group icon-left-space"></i>
                                            <label class="control-label">Estimation</label>
                                            <div class="row">
                                                <div class="col-1"></div>
                                                <input type="text" ng-model="Project.EstimationHour" class="form-control w-50" name="hour" required/>
                                                &nbsp; hours
                                                <span class="text-danger" ng-show="(f2.hour.$touched || f2.hour.$dirty)">
                                                    <span ng-show="f2.hour.$error.required">EstimationHour is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Project Notes</label>
                                <textarea id="textarea" style="background-color:#F6F6F6;font-size:16px;" ng-model="Project.Remark" class="form-control" maxlength="225" rows="2" name="notes" required ng-maxlength="350" ng-minlength="5"></textarea>
                                <span class="text-danger" ng-show="f2.notes.$error.required && f2.notes.$touched">
                                    Project Note is required
                                </span>
                                <span class="text-danger" ng-show="f2.notes.$dirty && (f2.notes.$error.minlength || f2.notes.$error.maxlength)">
                                    Notes must be in range 5 to 350
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 mt-5">
                        <div class="row ml-20">
                            <div class="col-6 p-10">
                                <div class="card">
                                    <div class="card-body">
                                        Created
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        Created
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3 ">
                            <div class="col-6">
                                <div class="card" style="height:150px; background-color: #F6F6F6">
                                    <div class="card-body">
                                        Created
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="card" style="height:150px; background-color: #F6F6F6">
                                    <div class="card-body">
                                        Created
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col">
                    <div class="row">
                        <div class="col" style="color:black"><h2>Contracts</h2></div>
                        <div class="col text-right">
                            <h1>
                                <i class="fa fa-plus-circle" style="font-size:large" data-toggle="modal" data-target="#addnew"></i>
                                <i class="fa fa-trash" style="font-size:x-large; color:red" data-toggle="modal" data-target="#DeleteContracts"></i>
                            </h1>
                        </div>
                    </div>

                    <div class="card-box">
                        <table class="table">
                            <thead>
                                <tr class="table-primary">
                                    <th>Assign to</th>
                                    <th>Weekly Limit</th>
                                    <th>Rate($)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="items in Project.assign">
                                    <td>
                                        <div class="form-group w-50">
                                            <input type="text" name="Project.UserId" class="form-control" readonly ng-model="items.UserName" style="font-size: 16px;" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group " style="width:55px;">
                                            <input type="text" class="form-control" ng-model="items.WeeklyLimit" name="Project.WeeklyLimit" required />
                                            <span class="text-danger" ng-show="(f2.Project.WeeklyLimit.$touched || f2.Project.WeeklyLimit.$dirty)">
                                                <span ng-show="f2.Project.WeeklyLimit.$error.required">WeeklyLimit is required</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group " style="width:55px;">
                                            <input type="text" class="form-control" ng-model="items.Rate" name="Project.Rate" required />
                                            <span class="text-danger" ng-show="(f2.Project.Rate.$touched || f2.Project.Rate.$dirty)">
                                                <span ng-show="f2.Project.Rate.$error.required">Rate is required</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <i class="fa fa-close" style="color: red;" ng-click="DeleteOne($index)"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="form-group text-right">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-8" style="height: 50px;">
                                    <button class="col btn btn-outline-primary h-100" style="font-size:larger;width:200px;" data-toggle="modal" data-target="#assignAll">
                                        Assign to All Users
                                    </button>

                                    <button class="col btn btn-primary h-100" style="font-size:larger;width:200px;" data-toggle="modal" data-target="#addnew">
                                        <i class="fa fa-plus-circle"></i>
                                        Add new User
                                    </button>

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group text-center" style="padding-left:50px;">
                                    <button class="btn btn-success btn-lg h-100" style="font-size: 20px;width:100px;" ng-click="Create(Project)" ng-disabled="f2.$invalid">Save</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Modal Delete Contracts -->
                <div id="DeleteContracts" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered ">

                        <!-- Modal content-->
                        <div class="modal-content ">

                            <div class="modal-body">
                                <h5 style="color:black">Are you sure you want to unassign all users?</h5>

                            </div>
                            <div class="modal-footer text-right ">
                                <button type="button" class="btn btn-danger btn-lg w-25 font-600" ng-click="DeleteAll()" data-dismiss="modal">Unassign</button>
                                <button type="button" class="btn btn-default btn-lg w-25 font-600" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal End-->
                <!-- Modal Delete One Contracts -->
                <!--<div id="DeleteOneContracts" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered ">-->
                <!-- Modal content-->
                <!--<div class="modal-content ">

                        <div class="modal-body">
                            <h5 style="color:black">Are you sure you want to unassign ?</h5>

                        </div>
                        <div class="modal-footer text-right " ng-repeat="items in Project.assign track by $index1">
                            <button type="button" ng-click="deleteOne($index1)" data-dismiss="modal" class="btn btn-danger btn-lg w-25 font-600">Unassign</button>
                            <button type="button" class="btn btn-default btn-lg w-25 font-600" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>-->
                <!-- Modal End-->
                <!-- Modal Assign All User -->
                <div class="modal fade" id="assignAll" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">

                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">ADD User</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body" style="color:black; font-size:larger">
                                <label class="control-label">Weekly Limit</label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" ng-model="txtWeeklyLimit" name="Project.WeeklyLimit" class="form-control w-75">
                                    </div>
                                </div>
                                <br />
                                <label class="control-label">Rate($)</label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" ng-model="txtRate" name="Project.Rate" class="form-control w-75">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" data-ng-click="AssignAll()" class="btn btn-default btn-block" style="height:50px; font-size:larger" data-dismiss="modal">ADD</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal End-->
                <!-- Modal Add New -->
                <div class="modal fade" id="addnew" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">ADD User</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body" style="color:black; font-size:larger">
                                <label class="control-label">Users</label>
                                <select ng-model="usersid" ng-change="GetValue()" name="Project.UserId" class="form-control " ng-options="tObj.UserId as tObj.FirstName + ' ' + tObj.LastName for tObj in teams" style="height:40px; font-size:large">
                                    <option value="">Select User</option>
                                </select>
                                <br />
                                <label class="control-label">Weekly Limit</label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control w-75" ng-model="weeklylimit">
                                    </div>
                                </div>
                                <br />

                                <label class="control-label">Rate($)</label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control w-75" ng-model="rate">
                                    </div>

                                </div>

                            </div>
                            <div>
                                <button type="button" ng-click="addnewrow()" class="btn btn-default btn-block" style="height:50px; font-size:larger" data-dismiss="modal">ADD</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal End-->

            </div>
            </form>
    </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script>
        $('#assignUser').on('hidden.bs.modal', function () {
            $(this).find("input").val('').end();
        });
        $('#assignAll').on('hidden.bs.modal', function () {
            $(this).find("input").val('').end();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>

</body>
@section script {
    <script defer src="~/Scripts/Services/ProjectService.js"></script>
    <script src="~/Scripts/Services/TeamService.js"></script>
    <script defer src="~/Scripts/AngularController/ProjectCtrl.js"></script>

    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/plugins/timepicker/bootstrap-timepicker.js"></script>
    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/plugins/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <script src="~/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/pages/jquery.form-pickers.init.js"></script>
}
