@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<head>
    <title>Dashboard</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/style.css" rel="stylesheet" type="text/css" />
    <script src="~/js/modernizr.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <style>
        body{
            font-size:14px;
            color: #797979 !important;
        }
        #c {
            background-color: #36a9f4bf;
            border-radius: 100%;
        }
     
 
        #exTab2 h3 {
            color: white;
            background-color: #428bca;
            padding: 5px 15px;
        }
        .labeluser {
            margin-top: 3px;
            margin-bottom: 16px;
            font-size: 12px;
            margin-left: 19px;
            padding-top: 9px;
        }
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
            margin-left:100px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
            margin-left: 100px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
                margin-left: 100px;
            }
    </style>
</head>
<body style="color:#797979 !important">
    <div id="preloader"></div>

    <div ng-controller="DashboardController" ng-init="GetAll()" class="divList">

        <div class="wrapper" style="padding-top:50px; ">           
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3" style="margin-top:-30px;">
                        <h1 id="spn">Dashboard</h1>
                    </div>
                </div>
            <br />
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-2 pt-2">
                                    <i class="fa fa-clock-o" style="color:cadetblue;font-size:30px;"></i>
                                </div>
                                <div class="col pt-1">
                                    <h5><b>Today</b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h2 class="m-0 text-dark counter font-600">{{dailytime.TotalDaily}}</h2>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-2 pt-2">
                                    <i class="fa fa-calendar" style="color:cadetblue;font-size:30px;"></i>
                                </div>
                                <div class="col pt-1">
                                    <h5><b>This Week</b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h2 class="m-0 text-dark counter font-600">{{weeklytime.TotalWeekly}}</h2>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-2 pt-2">
                                    <i class="fa fa-group" style="color:cadetblue;font-size:30px;"></i>
                                </div>
                                <div class="col pt-1">
                                    <h5><b>Users Worked</b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h2 class="m-0 text-dark counter font-600">{{teams.length}}</h2>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-2 pt-2">
                                    <i class="fa fa-file-powerpoint-o" style="color:cadetblue;font-size:30px;"></i>
                                </div>
                                <div class="col pt-1">
                                    <h5><b>Projects</b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h2 class="m-0 text-dark counter font-600">{{projects.length}}</h2>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-xl-7">
                        <div class="card-box">

                            <div class="mx-box" >
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 380px;">
                                    <figure class="highcharts-figure">
                                        <div id="container"></div>
                                        <p class="highcharts-description">

                                        </p>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="card-box" style="height: 421px;">

                            <h2 class="m-t-0 m-b-20"><b>Tasks</b></h2>
                            <h1 style="text-align:center"><i class="ion-ios7-paper-outline" style="color:cadetblue;font-weight:bold;font-size:60px;"></i></h1>
                            <br />
                            <h3 style="text-align:center"><b>All Tasks: {{progresses.TotalTask}} </b></h3>
                            <br />
                            <div class="row">
                                <div class="col"> <h4>To Do  &emsp;   {{progresses.TotalToDo}} </h4></div>
                                <div class="col">
                                    <div class="progress" style="margin-top: 22px; margin-left: -100px;">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width:{{progresses.ProgressTodo}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col"> <h4>Doing  &emsp; {{progresses.TotalDoing}}   </h4></div>
                                <div class="col">
                                    <div class="progress" style="margin-top: 22px; margin-left: -100px;">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: {{progresses.ProgressDoing}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col"> <h4>Done  &emsp; &nbsp;  {{progresses.TotalDone}} </h4></div>
                                <div class="col">
                                    <div class="progress" style="margin-top: 22px; margin-left: -100px;">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{progresses.ProgressDone}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div> <!-- end col -->
                    <!-- end col -->
                    <!-- CHAT -->
                    <!-- Todos app -->
                </div>

                <div class="row">
                    <div class="col-lg-12 col-xl-4">
                        <div class="card-box">
                            <div style="display:flex">
                                <h4 class="m-t-0 m-b-20"><b>@Session["Cname"].ToString()</b></h4>
                                <span class="label label-primary labeluser">
                                    {{teams.length}} Users
                                </span>
                            </div>

                            <table class="table table-borderless" style="font-size: 18px; color: #797979">
                                <tbody @*style="max-height: 100px !important;float: left; overflow-y: auto; height: 100px; overflow-y: scroll;"*@>
                                    <tr ng-repeat="r in roles">
                                        <td>
                                            {{r.RoleName}} &nbsp;
                                            ({{r.TotalUser}})

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col-lg-12 col-xl-4">
                        <div class="card-box">
                            <div style="display:flex">
                                <h4 class="m-t-0 m-b-20"><b>Departments</b></h4>
                                <span class="label label-warning labeluser">
                                    {{teams.length}} Users
                                </span>
                            </div>

                            <table class="table table-borderless" style="font-size: 18px; color: #797979">
                                <tr ng-repeat="d in departments">
                                    <td>
                                        {{d.DepartmentName}} &nbsp;
                                        ({{d.TotalUser}})

                                    </td>
                                </tr>

                            </table>
                        </div>

                    </div>

                    <div class="col-lg-12 col-xl-4">
                        <div class="card-box">
                            <div style="display:flex">
                                <h4 class="m-t-0 m-b-20"><b>Designations</b></h4>
                                <span class="label label-success labeluser">
                                    {{teams.length}} Users
                                </span>
                            </div>

                            <table class="table table-borderless" style="font-size: 18px; color: #797979">
                                <tr ng-repeat="des in designations">
                                    <td>
                                        {{des.DesignationName}} &nbsp;
                                        ({{des.TotalUser}})

                                    </td>
                                </tr>

                            </table>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 col-xl-7">
                        <div class="card-box" id="exTab2">
                            <ul class="nav nav-tabs" style="padding-left:20px;">
                                <li class="active">
                                    <a href="#1" data-toggle="tab" style="font-size:18px;">Projects</a>
                                </li>
                                <li>
                                    <a href="#2" data-toggle="tab" style="font-size:18px;">Tasks</a>
                                </li>
                            </ul>

                            <div class="tab-content" style="margin-bottom:0px;">
                                <div class="tab-pane active" id="1">
                                    <table class="table table-borderless" style="font-size:18px;color:#797979">
                                        <tr ng-repeat="p in allprojects">
                                            <td>
                                                {{p.ProjectName}}
                                            </td>
                                            <td>
                                                {{p.TotalTime}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tab-pane" style="background: #eaf4fa" id="2">
                                    <table class="table table-borderless" style="font-size: 18px; color: #797979">
                                        <tr ng-repeat="t in tasks">
                                            <td>
                                                {{t.TaskName}}
                                            </td>
                                            <td>
                                                {{t.TotalTime}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-xl-5">
                        <div class="card-box">                            
                            <h4 class="m-t-0 m-b-20">
                                <i class="fa fa-clock-o" style="color:cadetblue;font-size:30px;"></i>
                                <b style="margin-left:15px;">Today's Activity</b></h4>
                            <table class="table table-borderless" style="font-size: 18px; color: #797979">
                                <tr ng-repeat="u in users">
                                    <td>
                                        {{u.UserName}}
                                    </td>
                                    <td>
                                        {{u.TotalTime}}
                                    </td>
                                </tr>

                            </table>
                        </div>

                    </div>
                    <!-- end col -->
                </div>

                <!--</div>-->

            </div> <!-- end container -->
        </div>

    </div>
    <script src="~/js/jquery.min.js"></script>
    <!-- jQuery  -->
    <script>
        var loader = document.getElementById("preloader");

        window.addEventListener("load", function () {
            loader.style.display = "none";
        })
    </script>
</body>
@section script{
    <script src="~/Scripts/Services/DashboardService.js"></script>
    <script src="~/Scripts/Services/ProjectService.js"></script>
    <script src="~/Scripts/Services/TeamService.js"></script>
    <script src="~/Scripts/AngularController/DashboardCtrl.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
}


